.modal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(6px);

    &.hidden {
        display: none;
    }

    & .modal-content {
        background-color: var(--background-tertiary);
        padding: 2.5rem;
        border-radius: 1rem;
        width: 30rem;
        display: flex;
        flex-direction: column;
        color: var(--content-primary);


        & h2 {
            font: var(--font-title);
            color: var(--content-primary);
        }

        & p {
            font: var(--font-paragraph-medium);
            color: var(--content-secondary);
            margin-bottom: 1rem;
        }

        & label {
            display: flex;
            flex-direction: column;
            margin: 1.25rem 0 0.5rem 0;
            font: var(--font-label-medium);
            color: var(--content-primary);
            gap: 0.25rem;
        }

        & #description {
            padding-left: 1rem;
        }


        & .input-with-icon {
            position: relative;
            display: flex;
            align-items: center;

            & img {
                position: absolute;
                left: 1rem;
                width: 1.25rem;
                height: 1.25rem;
                pointer-events: none;
            }

            & input {
                border: none;
                outline: none;

                height: 3rem;
                width: 100%;

                color: var(--content-secondary);
                font: var(--font-paragraph-medium);

                padding: 0.75rem 1rem 0.75rem 3rem;
                border-radius: 0.5rem;

                background-color: transparent;
                border: #3E3C41 solid 1px;

                &::placeholder {
                    color: var(--content-secondary);
                }

                &:hover {
                    border: var(--border-secondary) solid 1px;
                }

                &:focus {
                    border: var(--border-brand) solid 1px;
                }
            }
        }

        & .modal-row {
            display: flex;
            gap: 1rem;

            & label {
                flex: 1;
            }

            & .modal-content input[type="date"],
            & .modal-content input[type="time"] {
                color: var(--content-secondary);
            }
        }

        & ::-webkit-calendar-picker-indicator {
            cursor: pointer;
            background: url("../assets/arrow.svg") no-repeat;
            border: none;
            outline: none;
        }

        & .submit {
            margin-top: 1rem;
            background-color: var(--content-brand);
            color: #050505;
            padding: 0.75rem;
            border-radius: 0.5rem;

            cursor: pointer;
            border: none;

            font: var(--font-label-large);
            text-transform: uppercase;

            &:hover {
                background-color: #bdb4fa;
            }

            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}

/* Blur no conteúdo de fundo quando o modal está aberto */
body.modal-open main.schedule {
    filter: blur(6px);
    backdrop-filter: blur(6px);
    pointer-events: none;
    user-select: none;
    transition: all 0.3s ease;
}

.logo {
    position: relative;
    z-index: 2;
}